<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/layout">
<head>
    <title>TODO supply a title</title>
</head>
<body>
<th:block layout:fragment="content">
    
        <form action="#" th:action="@{/jobs/create}" th:object="${job}" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2" for="name"><b>Title:</b></label>
                <div class="col-sm-10"><input type="text" th:field="*{title}" class="form-control" placeholder="Enter title"/></div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password"><b>Description:</b></label>
                <div class="col-sm-10"><input type="text" th:field="*{description}" class="form-control"  placeholder="Enter description"/></div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password"><b>Number of People to Hire:</b></label>
                <div class="col-sm-10"><input type="text" th:field="*{numberOfPeopleToHire}" class="form-control"  placeholder="Enter number of people to hire"/></div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password"><b>Last Application Date:</b></label>
                <div class="col-sm-10"><input type="date" th:field="*{lastApplicationDate}" class="form-control"/></div>
            </div>
             <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Create!</button>
                </div>
            </div>
    </form>
    
</th:block>
</body>
</html>
